* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.sub-header {
  background-color: #0C4B35;
  height: 60px;
  font-weight: 400;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.contacts {
  display: flex;
  align-items: center;
  height: 100%;
}
.contacts .email {
  display: flex;
  align-items: center;
  color: white;
}
.contacts .number {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.contacts .position {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.email-text {
  margin-left: 10px;
}

.number-text {
  margin-left: 10px;
}

.position-text {
  margin-left: 10px;
}

.language {
  display: flex;
  align-items: center;
  color: white;
}

.down-icon {
  margin-left: 10px;
}

.subb-header {
  height: 85px;
}
.subb-header .menu {
  display: flex;
}
.subb-header a {
  text-decoration: none;
  color: #212529;
  font-size: 16px;
  font-weight: 600;
}
.subb-header:hover {
  color: #00730C;
}

.sub-header-menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 130px;
}

.menu-position {
  display: flex;
  margin-right: 60px;
}

.down-black-icon {
  display: block;
  margin-left: 5px;
  width: 12px;
  height: 7px;
  margin-top: 5px;
}

.btn-call {
  border-radius: 5px;
  border-color: rgb(0, 115, 12);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 115, 12);
  width: 61px;
  height: 24px;
  background-color: rgb(0, 115, 12);
  width: 170px;
  height: 50px;
  background-image: url(./images/Group.png);
  background-position: 30px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-call .call-us {
  width: 61px;
  height: 24px;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}

.btn-mob-call {
  display: none;
}

.hero {
  display: flex;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 719px;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}
.hero .flower {
  display: flex;
  align-items: end;
  flex: 0 0 15%;
}

.plant {
  display: flex;
  margin-top: 133px;
  flex-direction: column;
  flex: 0 0 35%;
}
.plant .service {
  width: 213px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #212529;
}
.plant .plant-icon {
  width: 24px;
  height: 20px;
}
.plant .per-land {
  margin-top: 20px;
  width: 696px;
  height: 158px;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
}
.plant .green-text {
  color: #00730C;
}

.lorem {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  width: 556px;
  height: 60px;
}

.btn {
  margin-top: 50px;
  display: flex;
}
.btn .pointer {
  width: 20px;
  height: 16px;
  margin-left: 15px;
  margin-top: 20px;
}

.btn-get {
  width: 175px;
  height: 50px;
  background: #00730C;
  border-radius: 5px;
  color: white;
  border-color: #00730C;
}

.lorem-text {
  width: 142px;
  height: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #676767;
  margin-left: 30px;
  margin-top: 12px;
}

.customs {
  display: flex;
  margin-top: 61px;
}
.customs .custom-1 {
  background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  border-radius: 35px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.customs .text-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #212529;
  width: 89px;
  height: 40px;
}
.customs .numbers {
  width: 36px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.img-woman {
  display: flex;
  flex: 0 0 50%;
  position: absolute;
  right: 4px;
  top: 180px;
}
.img-woman img {
  width: 640px;
  height: 673px;
}

.img-woman-mob {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    width: 440px;
  }
  .main-menu {
    display: none;
  }
  .customs .mobile {
    display: none;
  }
  .container {
    max-width: 600px;
    width: 100%;
  }
  .row {
    max-width: 600px;
    width: 100%;
  }
  .email-text, .number-text, .position-text {
    display: none;
    margin-left: 5px;
  }
  .subb-header {
    max-width: 600px;
    width: 100%;
  }
  .sub-header-menu {
    max-width: 600px;
    width: 100%;
  }
  .logo {
    width: 74px;
    height: 35px;
  }
  .btn-call {
    display: none;
  }
  .btn-mob-call {
    display: block;
    position: relative;
    left: 56px;
    border: none;
    background-color: white;
    margin-left: 40px;
  }
  .btn-mob-call .menu-1 {
    margin-left: 25px;
  }
  .hero {
    width: 600px;
  }
  .main {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }
  .main .img-woman {
    display: none;
  }
  .main .img-woman-mob {
    display: block;
    margin: 0;
    position: relative;
    left: -16px;
  }
  .main .img-woman-mob img {
    width: 440px;
    height: 240px;
  }
  .main .flower {
    width: 83px;
    height: 118px;
    display: block;
    position: absolute;
    top: 732px;
  }
  .main .flower img {
    width: 83px;
    height: 118px;
  }
  .main .plant {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .main .plant .plant-icon {
    width: 23.8px;
    height: 19.89px;
    margin: 0;
  }
  .main .plant .service {
    width: 180px;
    height: 19px;
    font-size: 14px;
  }
  .main .plant .per-land {
    width: 345px;
    height: 76px;
    font-size: 28px;
    margin: 0 0 50px 0;
  }
  .main .plant .lorem {
    width: 345px;
    height: 66px;
    font-size: 14px;
  }
  .main .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 44px;
  }
  .main .btn .btn-get {
    width: 303px;
    height: 44px;
  }
  .main .btn .lorem-text {
    width: 183px;
    line-height: 19px;
    font-size: 14px;
    display: flex;
  }
  .main .btn .pointer {
    width: 16px;
    height: 13px;
  }
  .main .customs {
    margin-left: 64px;
  }
}/*# sourceMappingURL=style.css.map */